version: "3.8"
services:
  mongo:
    image: mongo:6.0
    container_name: demo-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: .
    container_name: demo-backend
    env_file:
      - .env.dev
    ports:
      - "8000:8000"
    depends_on:
      - mongo
    volumes:
      - ./:/app

volumes:
  mongo-data:
