@import "tailwindcss";

@theme {
  --color-light: #aac4f5;
  --color-primary: #8ca9ff;
  --color-secondary: #fff2c6;
  --color-accent: #f875aa;

  --color-bg: #f9f8f6;
  --color-text: #4f1787;

  --color-success: #10b981;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
}

/* Dark mode variables (optional) */
.dark {
  --color-primary: #60a5fa;
  --color-secondary: #22d3ee;
  --color-accent: #8b5cf6;

  --color-bg: #0f172a;
  --color-text: #e2e8f0;
}
